body{
font-family: 'Roboto Slab', serif;
margin: 0%;
background-color: #F1F1F1;
}
h1{
    color: white;
    font-size: 60px;
    padding-top: -10%;
}
h2{
    font-size: 40px;
}
.heighlight{
    color: #1a2b49;
}
.background{
  background-image: url("images/top-background.png");
background-size: cover;
    background-repeat: no-repeat;
}
section{
    min-height: 700px;
    margin-top: 0%;
}
.welcome-note{
    text-align: center;
    
}
.side-img img{
    width: 30%;
    float: right ;
    padding:  0 35% 10% 0;
}
.second-sec{
    background-image: url("images/2nd-sec-background.png");
background-size: cover;
}
.half-width{
    float: left;
width: 40%;
margin-left: 5%;

}
.link-buton{
    text-decoration: none;
    background-color: darkorange;
    padding: 10px 20px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 120%;
    background-image: linear-gradient(45 deg, rgb(252, 174, 143) #b97a04  );
    float:right;
    
}
.half-width img{
    padding-left: 0%;
}
.box-sec2{

}
.sec3-heading{
    text-align: center;
}