body{
font-family: 'Roboto Slab', serif;
margin: 0%;
background-color: #F1F1F1;
}
h1{
    color: white;
    font-size: 60px;
    padding-top: -10%;
}
h2{
    font-size: 40px;
}
.heighlight{
    color: #1a2b49;
}
.background{
  background-image: url("images/top-background.png");
background-size: cover;
    background-repeat: no-repeat;
}
section{
    min-height: 700px;
    margin-top: 0%;
}
.welcome-note{
    text-align: center;
    
}
.side-img img{
    width: 30%;
    float: right ;
    padding:  0 35% 10% 0;
}
.half-width{
    float: left;
width: 40%;
margin-left: 5%;


}
.box-sec2{
box-shadow: thistle;
}